{% load compress %}
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>{% block title %}title{% endblock %}</title>
	{% compress css %}
		<link type="text/x-scss" href="{% static 'css/main.scss' %}" rel="stylesheet">
	{% endcompress %}
</head>
<body>
	<div class="container">
		{% include 'forum/navbar.html' %}

		<nav class="breadcrumb">
			<ol class="breadcrumb">
				<li class="breadcrumb-item"><a href="{% url 'forum:post-list' %}">Forum</a></li>
				{% block breadcrumb %}
				{% endblock %}
			</ol>
		</nav>

		<main class="container">
			{% block content %}
			{% endblock %}
		</main>
	</div>
</body>
</html>
