nav.breadcrumb {
    border: 1px solid #444;

    .breadcrumb-item > a {
        text-decoration: underline;
    }
}

.navbar {
    .navbar-toggler {
        margin-right: 0.5em;
    }

    .navbar-brand > img {
        height: 60px;
    }
}
